.Pcard {
    width: 100%;
    max-width: 260px;

    background: var(--bg-secondary-dark);
    border-radius: 16px;
    padding: 18px;
    margin: 15px auto;

    border: 1px solid var(--accent-secondary-dark);
    box-shadow: var(--shadow-dark);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    text-align: center;
    transition: all 0.3s ease;
    position: relative;
}

.Pcard:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);
}

.Pimagepath {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 15px;
    box-shadow: var(--shadow-dark);
}

.Pname {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-secondary-dark);
    margin-bottom: 8px;
}


.Pdescription {
    font-size: 0.95rem;
    color: rgba(237, 242, 247, 0.75);
    margin-bottom: 18px;
    line-height: 1.45;
}