.Unauthorized-container {
    text-align: center;
    margin-top: 80px;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--admin-border);
    padding: 20px 25px;

    border-radius: 12px;
    box-shadow: var(--admin-shadow);
    backdrop-filter: blur(10px);

    width: 60%;
    margin-left: auto;
    margin-right: auto;

    color: var(--admin-accent);
    font-size: 1.3rem;
}